@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="http://lorempixel.com/1920/400/nature/" alt="" />
</div>
<div class="row">
    <ul>
        <li>Something goes here</li>
        <li>
            Sit amet, consectetur.
        </li>
        <li>
            Adipiscing elit fusce.
        </li>
        <li>
            Vel sapien elit.
        </li>
        <li>
            In malesuada semper.
        </li>
    </ul>
</div>