@{
    ViewBag.Title = "Home Page";
}

<section id="hero1" class="hero">
    <div class="inner">
        <div class="copy">
            <h1>Jonathan Cammisuli</h1>
            <p>placeholder</p>
        </div>
    </div>
</section>

<section class="content">
    <div class="inner">
        <div class="copy">
            <h1>Placeholder</h1>
            <p>information goes here </p>
        </div>
    </div>
</section>

<section id="hero2" class="hero">
    <div class="inner">
        <div class="copy">
            <h1>Another Placeholder</h1>
            <p>information goes here</p>
        </div>
    </div>
</section>

<section class="content">
    <div class="inner">
        <div class="copy">
            <h1>Last placeholder</h1>
            <p>information goes here</p>
        </div>
    </div>
</section>